<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OcrRead.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <OcrRead.Properties.Settings>
            <setting name="AppKey" serializeAs="String">
                <value />
            </setting>
        </OcrRead.Properties.Settings>
    </applicationSettings>

	<appSettings>
		<add key="Model" value="gpt-4o"/>
		<add key="AppKey" value="あなたのAPI KEYを入力してください"/>
		<add key="SystemMessage" value="簡潔に教えてください。"/>
		<add key="UserMessage" value="添付画像を文字起こしして、文字起こしした文字のみ教えてください。"/>
	</appSettings>
</configuration>
